# {FOR STORAGE}
# UploadThing Storage - Will be replaced by amazon s3 or cloudflare r2 in the future
# Get this from UploadThing
UPLOADTHING_TOKEN=<uploadthing_token>
UPLOADTHING_SECRET=<uploadthing_secret>
NEXT_PUBLIC_UPLOADTHING_APP_ID=<uploadthing_app_id>

# {FOR MESSAGING}
# Stream - Will be replaced with own implementation in the future
# Get this from Stream
NEXT_PUBLIC_STREAM_KEY=<stream_key>
STREAM_SECRET=<stream_secret>

# {FOR CRON JOBS}
# Other - Can be any random string
CRON_SECRET="<cron_secret>"
