.str-chat {
  --str-chat__font-family: inherit;
  --str-chat__primary-color: theme(colors.primary.DEFAULT);
  --str-chat__on-primary-color: theme(colors.primary.foreground);
  --str-chat__active-primary-color: theme(colors.primary.foreground);
  --str-chat__primary-color-low-emphasis: color-mix(
    in hsl,
    hsl(var(--primary)) 10%,
    transparent
  );
  --str-chat__background-color: theme(colors.card.DEFAULT);
  --str-chat__secondary-background-color: theme(colors.card.DEFAULT);
  --str-chat__message-textarea-background-color: theme(colors.background);
  --str-chat__channel-preview-active-background-color: theme(
    colors.accent.DEFAULT
  );
  --str-chat__channel-preview-hover-background-color: var(
    --str-chat__channel-preview-active-background-color
  );
  --str-chat__secondary-surface-color: theme(colors.muted.DEFAULT);
  --str-chat__own-message-bubble-color: theme(colors.primary.foreground);
  --str-chat__primary-surface-color: theme(colors.primary.DEFAULT);
  --str-chat__primary-surface-color-low-emphasis: var(
    --str-chat__primary-color-low-emphasis
  );
  --str-chat__disabled-color: theme(colors.muted.DEFAULT);
  --str-chat__cta-button-border-radius: var(--radius);
}

.str-chat-channel-list {
  border-right: none;
}

.str-chat__channel-list-react .str-chat__channel-list-messenger-react {
  padding-bottom: 0;
}

.str-chat__channel-search-bar-button--exit-search {
  display: none;
}
