@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(4px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulseError {
  0%,
  100% {
    border-color: rgb(239 68 68 / 0.2);
  }
  50% {
    border-color: rgb(239 68 68 / 0.5);
  }
}

.shake {
  animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.float-animation {
  animation: float 3s ease-in-out infinite;
}
.animate-gradient {
  background-size: 300% 300%;
  animation: gradient 8s ease infinite;
}
.pulse-error {
  animation: pulseError 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
